<!-- GIRL -->
<div class="girl">
	<p>Makeup always tells a story of life and delivers a mood which undolds the inner bauty. The main thing - it should be your ultimate story</p>
</div>

<!-- daBEAUTY STUDIO -->
<div class="beauty-studio wrapper">
	<h3>
		<small>The</small><br>
		<span class="hor-line"></span>BEAUTY STUDIO<span class="hor-line"></span>
	</h3>

	<% @artists.each_slice(4) do |slice| %>
		<ul class="prod-showdown beauty-showdown flexbox">
			<% slice.each do |artist| %>
				<li>
					<div class="img-container">
						<%= image_tag 'pac.jpg' %>
					</div>
					<h6><%= artist.full_name %></h6>
					<div class="divider"></div>
					<p class="desc"><%= truncate(artist.description, :length => 100, :separator => ' ') %></p>
					<%= link_to 'read +', '/studio/' + artist.id.to_s %>
				</li>
			<% end %>
		</ul>
	<% end %>
</div>