<div class="header-top-fix p-top-40">
  <div data-hook="homepage_sidebar_navigation">
    <% if "spree/products" == params[:controller] && @taxon %>
      <%= render :partial => 'spree/shared/filters' %>
    <% end %>
  </div>

  <% if params[:keywords] %>

    <div data-hook="search_results">
      <% if @products.empty? %>
        <h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
      <% else %>
        <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
      <% end %>
    </div>

  <% else %>

    <div class="favorites wrapper">
      <h2>Our Products</h2>
      <p>The best products of the market, for you only from Antora</p>
      <% @products.each_slice(4) do |slice| %>
        <ul class="prod-showdown flexbox">
          <% cache(cache_key_for_products) do %>
            <%= render :partial => 'spree/shared/products', :locals => { :products => slice, :taxon => @taxon } %>
          <% end %>
        </ul>
      <% end %>
    </div>

  <% end %>

</div>