<div class="header-top-fix p-top-40 settings-body">
	<h3 class="settings-title">
		<small>Answer your questions</small><br>
		<span class="hor-line"></span>FAQ<span class="hor-line"></span>
	</h3>

	<div class="settings-content">
		<!-- Primer bloque -->
		<div class="settings-block">
			<h3>¿Dónde puedo ver información de como usar los productos?</h3>

			<p>En cada una de las páginas de producto encontrarás mini videos que te muestran como usar correctamente el maquillaje. La mayoría de las makeup artists que aparecen en <a href="http://antoracosmetics.cl">antoracosmetics.cl</a>, tienen tutoriales mostrando como se aplica el producto. Además, nuestro blog tiene un montón de posts con información relacionada y como si fuera poco, puedes escribirle a uno de nuestros expertos para que te ayuden.</p>
		</div>
		<!-- End Primer bloque -->

		<span class="hor-line"></span>

		<!-- Segundo bloque -->
		<div class="settings-block">
			<h3>¿Dónde puedo comprar los productos de Antora?</h3>
			
			<p>Como marca nos distinguimos por vender principalmente a través de nuestra plataforma online, teniendo distribución exclusiva en solo algunos estudios de maquillaje. Aquí puedes encontrar información de los estudios asociados.</p>
		</div>
		<!-- End Segundo bloque -->

		<span class="hor-line"></span>

		<!-- End Tercer bloque -->
		<div class="settings-block">
			<h3>¿Alguien más ve la información que proveo al sitio de Antora?</h3>

			<p>Respetamos tu privacidad. La información que nos das no la verá nadie más que nosotros.</p>
		</div>
		<!-- End Tercer bloque -->

		<span class="hor-line"></span>

		<!-- Cuarto bloque -->
		<div class="settings-block">
			<h3>¿Dónde puedo conseguir muestras?</h3>

			<p>Antora no manda muestras por pedido. La mejor forma de probar los productos es a través de nuestras maquilladoras, en nuestras pop up stores o eventos.</p>
		</div>
		<!-- End Cuarto bloque -->

		<span class="hor-line"></span>

		<!-- Quinto bloque -->
		<div class="settings-block">
			<h3>¿Cómo me puedo convertir en una maquilladora de Antora?</h3>

			<p>Por ahora no esta abierto el proceso de postulación para ser parte de nuestro staff.</p>
		</div>
		<!-- End Quinto bloque -->

		<span class="hor-line"></span>

		<!-- Sexto bloque -->
		<div class="settings-block">
			<h3>¿Cómo califico para Envio Gratis?</h3>

			<p>Por lanzamiento el envio dentro de Santiago es gratis. En regiones, para calificar para free shipping, debes comprar más de $15.000 en productos.</p>
		</div>
		<!-- End Sexto bloque -->

		<span class="hor-line"></span>

		<!-- Séptimo bloque -->
		<div class="settings-block">
			<h3>¿Cómo comprar?</h3>
			
			<ul class="settings-list">
				<li>Ingresa a Antoracosmetics.com , y selecciona todos los productos que te gustaría tener, haciendo click en el botón "Agregar al carro” ubicado en cada producto.</li>
				<li>Luego, debes ir directamente a tu carro, donde aparecerán todos los productos seleccionados y el monto total de tu compra.</li>
				<li>Para finalizar tu compra, debes hacer click en “check-out” y llenar los datos que son solicitados para el despacho.</li>
				<li>Antes de terminar, habrá un resumen de tu compra y los datos entregados.</li>
				<li>Selecciona el medio de pago que más te acomode: pagar con tu tarjeta de crédito o débito (pago seguro con Webpay Plus).</li>
				<li>Finalmente, si escogiste Webpay, presionas "Ir a pagar" y te redirigirá al sistema de pagos de Transbank "Webpay".</li>
				<li>Recuerda que para pagar online con tus tarjetas de débito o crédito tienes que tener habilitado con tu banco las claves dinámicas o Digipass que cada institución brinda.</li>
			</ul>
		</div>
		<!-- End Séptimo bloque -->

		<span class="hor-line"></span>

		<!-- Octavo bloque -->
		<div class="settings-block">
			<h3>¿Cuáles son las políticas de envio?</h3>
			
			<ul class="settings-list">
				<li>Normalmente los pedidos llegan entre 1 y 2 días hábiles siguientes si pides antes de las 12:00 hrs en Santiago, y 2 a 3 días hábiles en Regiones. Si la orden es recibida por nosotros ante de las 14:00 horas, será procesada inmediatamente para despacho. Si la orden es recibida posterior a esta hora, será procesada al día hábil siguiente.</li>
				<li>Las entregas se realizan de lunes a viernes desde 9:00 a 20:00 horas, y si no estás para recibirlo, se puede entregar a un tercero que sí se encuentre en el domicilio (familiares, amigos o conserjes).</li>
				<li>El plazo de entrega se cuenta desde la confirmación del pago, es decir, desde que te llega un correo electrónico con la información del pago. Las demoras causadas por la ausencia del cliente al momento de la entrega, información de registro incorrecta, la negativa del cliente para aceptar el envío y el cambio de domicilio, no son responsabilidad de Antoracosmetics.com y en estos casos los plazos de entrega afirmados cambian.</li>
				<li>Cualquier inconveniente de fuerza mayor que impida el envío del producto a tiempo como inundaciones, desastres naturales, accidentes graves u otras ocasiones de fuerza mayor, Antoracosmetics.com está libre de responsabilidad.</li>
				<li>En el caso de que el cliente solicite devolución de su dinero, se descontará el monto de envío (sólo si se cobró el costo al momento de la compra).</li>
			</ul>
		</div>
		<!-- End Octavo bloque -->

		<span class="hor-line"></span>

		<!-- Noveno bloque -->
		<div class="settings-block">
			<h3>¿Cómo realizar devoluciones o cambios?</h3>

			<p>Nuestros productos podrán ser devueltos si es que aun tienen sus sellos de garantía y no han sido usados. Para hacer una devolución escribenos a <a href="mailto:contacto@antoracosmetics.cl">contacto@antoracosmetics.cl</a> y nos contactaremos contigo para proceder con el proceso de devolución.</p>
		</div>
		<!-- End Noveno bloque -->

		<span class="hor-line"></span>

		<!-- Décimo bloque -->
		<div class="settings-block">
			<h3>¿Cuáles son los costos de envío?</h3>

			<p>El costo envío depende principalmente de la región en la que te encuentres y del volumen del paquete. Por lo tanto verás el costo exacto de tu envió a la hora de hacer check out.</p>
		</div>
		<!-- End Décimo bloque -->

		<span class="hor-line"></span>

		<!-- Onceavo bloque -->
		<div class="settings-block">
			<h3>¿Envían a todo Chile?</h3>

			<p>Sí, el envío contempla todo Chile.</p>
		</div>
		<!-- End Onceavo bloque -->

		<span class="hor-line"></span>

		<!-- Doceavo bloque -->
		<div class="settings-block">
			<h3>¿Qué pasa si mi compra llega a la casa y no estoy?</h3>

			<p>Si hay alguien para que reciba tu paquete no hay problema (puede ser  el conserje, familiar, amiga, etc). Pero si al llegar a tu casa no hay absolutamente nadie, Correos de Chile y Chilexpress, realizarán dos intentos de entrega, y si el paquete no puede ser entregado, solicitaremos un nuevo intento de envío, lo cual afectará el día de despacho de tu compra.</p>
		</div>
		<!-- End Doceavo bloque -->

		<span class="hor-line"></span>

		<!-- Décimotercer bloque -->
		<div class="settings-block">
			<h3>¿Puedo usar varios cupones de descuento para una sola compra?</h3>

			<p>No, solo se permite el uso un cupón por compra.</p>
		</div>
		<!-- End Décimotercer bloque -->

		<div class="settings-block p-top-40">
			<h2>Si todavía necesitas más información, apreta <a href="mailto:contacto@antoracosmetics.cl">aquí</a> para enviarnos un e-mail a contacto@antoracosmetics.cl o  si prefieres llámanos al +562XXXXXX de lunes a viernes, de 10am a 20hrs. Contáctanos, ¡somos muy buena onda!</h2>
		</div>
	
	</div>
</div>