<div class="header-top-fix p-top-40 settings-body">
	<h3 class="settings-title">
		<small>Delivery</small><br>
		<span class="hor-line"></span>Shipping Information<span class="hor-line"></span>
	</h3>

	<div class="settings-content shipping-content">
		<!-- Primer bloque -->
		<div class="settings-block">
			<p>Normalmente los pedidos llegan entre 1 y 2 días hábiles siguientes si pides antes de las 12:00 hrs en Santiago, y 2 a 3 días hábiles en Regiones. Si la orden es recibida por nosotros ante de las 14:00 horas, será procesada inmediatamente para despacho. Si la orden es recibida posterior a esta hora, será procesada al día hábil siguiente.</p>
		</div>
		<!-- End Primer bloque -->

		<span class="hor-line"></span>
		<!-- <span class="hor-line"></span><i class="fa fa-cog"></i><span class="hor-line"></span> -->

		<!-- Segundo bloque -->
		<div class="settings-block">
			<p>Las entregas se realizan de lunes a viernes desde 9:00 a 20:00 horas, y si no estás para recibirlo, se puede entregar a un tercero que sí se encuentre en el domicilio (familiares, amigos o conserjes).</p>
		</div>
		<!-- End Segundo bloque -->

		<span class="hor-line"></span>

		<!-- End Tercer bloque -->
		<div class="settings-block">
			<p>El plazo de entrega se cuenta desde la confirmación del pago, es decir, desde que te llega un correo electrónico con la información del pago. Las demoras causadas por la ausencia del cliente al momento de la entrega, información de registro incorrecta, la negativa del cliente para aceptar el envío y el cambio de domicilio, no son responsabilidad de Antoracosmetics.com y en estos casos los plazos de entrega afirmados cambian.</p>
		</div>
		<!-- End Tercer bloque -->

		<span class="hor-line"></span>

		<!-- End Cuarto bloque -->
		<div class="settings-block">
			<p>Cualquier inconveniente de fuerza mayor que impida el envío del producto a tiempo como inundaciones, desastres naturales, accidentes graves u otras ocasiones de fuerza mayor, Antoracosmetics.com está libre de responsabilidad.</p>
		</div>
		<!-- End Cuarto bloque -->

		<span class="hor-line"></span>

		<!-- End Quinto bloque -->
		<div class="settings-block">
			<p>En el caso de que el cliente solicite devolución de su dinero, se descontará el monto de envío (sólo si se cobró el costo al momento de la compra).</p>
		</div>
		<!-- End Quinto bloque -->				
	
	</div>
</div>