<div class="header-top-fix p-top-40 settings-body">
	<h3 class="settings-title">
		<small>Policies</small><br>
		<span class="hor-line"></span>Terms & Conditions<span class="hor-line"></span>
	</h3>

	<div class="settings-content">
		<!-- Primer bloque -->
		<div class="settings-block">
			<p>Para comprar productos en el sitio, no es necesario estar registrado.</p>
			<p>Los contratos de venta por medios electrónicos ofrecidos en este sitio se encuentran sometidos al cumplimiento de la legislación vigente en Chile. En especial de la normativa de defensa al consumidor y protección de datos personales.</p>
			<p>Para todos los efectos relacionados con los contratos por medios electrónicos ofrecidos por este sitio el proveedor y consumidor fijan su domicilio en la comuna de Santiago de Chile, a la jurisdicción de cuyos tribunales se someten.</p>
		</div>
		<!-- End Primer bloque -->

		<span class="hor-line"></span>

		<!-- Segundo bloque -->
		<div class="settings-block">
			<h3>Definiciones</h3>
			
			<p>“Consumidor” es la persona natural o jurídica que compra bienes o servicios a través de la plataforma electrónica suministrada por este sitio.</p>
			<p>“Proveedor” es la empresa La Condonería que por medio de este sitio web ofrece bienes y servicios a los consumidores.</p>
		</div>
		<!-- End Segundo bloque -->

		<span class="hor-line"></span>

		<!-- End Tercer bloque -->
		<div class="settings-block">
			<p>La sola visita de este sitio web  en el cual se ofrecen determinados bienes y servicios, no impone al consumidor obligación alguna, salvo que haya aceptado en forma inequívoca las condiciones ofrecidas por el proveedor, en la forma indicada en estos términos y condiciones.</p>

			<p>Se excluyen de todos los contratos celebrados por medios electrónicos en el presente sitio web el derecho de retracto unilateral que consagra el artículo 3 bis letra b) de la ley de protección al consumidor, hecho que es conocido y aceptado por el consumidor. La presente exclusión bajo ningún respecto puede interpretarse como una cláusula de exclusión de responsabilidad del proveedor ante vicios y/o defecto de la cosa vendida, los que se regirán por la legislación vigente a la época de la celebración del contrato.</p>

			<p>Los contratos por medios electrónicos ofrecidos en el presente sitio se entenderán celebrados, luego de que el consumidor acepte los presentes términos y condiciones y el proveedor envíe al correo electrónico indicado por el consumidor confirmación escrita del mismo.</p>

			<p>En los contratos ofrecidos por medio de este sitio, el proveedor informará, de manera inequívoca y fácilmente accesible, los pasos que el consumidor debe seguir para celebrarlos, e informará,  si el documento electrónico en que se formalice el contrato será archivado y si éste será accesible al consumidor. El mero hecho de completar todos  los pasos que para estos efectos se indican en este sitio para efectuar una compra, equivale a aceptar que efectivamente la empresa oferente ha dado cumplimiento a las condiciones contenidas en este numeral. Además, el contrato por medio electrónico Indicará la dirección de correo postal o electrónico del proveedor para que el consumidor pueda identificar y corregir eventuales errores en el envío o en sus datos.</p>
		</div>
		<!-- End Tercer bloque -->

		<span class="hor-line"></span>

		<!-- Cuarto bloque -->
		<div class="settings-block">
			<p>Toda aceptación de oferta quedará sujeta a la condición suspensiva de que la empresa oferente valide la transacción. En consecuencia, para toda operación que se efectúe en este sitio, la confirmación y/o validación o verificación por parte del proveedor, será requisito para la formación del consentimiento. Para validar la transacción el proveedor deberá verificar:</p>

			<ul class="settings-list" >
				<li>Que dispone, en el momento de la aceptación de oferta, de las especies en stock.</li>
				<li>Que valida y acepta el medio de pago ofrecido por el usuario.</li>
				<li>Que los datos registrados por el cliente en el sitio coinciden con los proporcionados al efectuar su aceptación de oferta.</li>
				<li>Para informar al usuario o consumidor acerca de esta validación, el proveedor la empresa oferente, deberá enviar una confirmación escrita a la misma dirección electrónica que haya registrado el usuario aceptando de la oferta y que se hace referencia en los numerales anteriores.</li>
			</ul>
		</div>
		<!-- End Cuarto bloque -->

		<span class="hor-line"></span>

		<!-- Quinto bloque -->
		<div class="settings-block">
			<h3>Bienes objeto y montos mínimos de la venta por medios electrónicos</h3>

			<p>Son todos los maquillaje ofrecidos en el presente sitio web, cuyas características, procedencia y calidad el proveedor se obliga a suministrar los bienes materia del contrato en perfectas condiciones para que sirvan al uso natural a que están destinados los mismos y respetando fielmente las características, procedencia y calidad contenidas en su caso en la descripción de los productos.</p>

			<p>El proveedor se reserva el derecho a ofertar los bienes en pack o promociones, en cuyo caso el consumidor no podrá exigir la venta individual de uno o mas bienes que componen dicho pack o promoción, sin perjuicio de lo establecido en el punto anterior y al hecho que dichos bienes también se oferten de manera individual.</p>
		</div>
		<!-- End Quinto bloque -->

		<span class="hor-line"></span>

		<!-- Sexto bloque -->
		<div class="settings-block">
			<h3>Derechos del comprarador o consumidor</h3>

			<p>El consumidor gozará de todos los derechos que se le otorguen en el presentes términos y condiciones.
			Sin perjuicio de lo anterior, el consumidor  gozará de todos los derechos que le reconoce la legislación chilena sobre protección al consumidor vigente a  la época de la celebración del contrato, con la salvedad de las exclusiones expresamente contenidas en estos términos y condiciones
			Cuando sea procedente, el consumidor dispondrá en todo momento de los derechos de información, rectificación y cancelación de los datos personales conforme a la Ley Nº19.628 sobre protección de datos de carácter personal.</p>

			<h2>Medios de pagos aceptados por el proveedor</h2>

			<p>Los productos y servicios ofrecidos en este sitio, salvo que para casos expresamente exceptuados se establezca otro medio de pago, sólo pueden ser pagados con los siguientes instrumentos:</p>

			<p>Tarjetas bancarias Visa, MasterCard, American Express y Diners Club International emitidas en Chile o en el extranjero siempre que mantengan un contrato vigente para tales efectos con la empresa emisora. Las tarjetas emitidas en el extranjero, no admiten la modalidad de pago en cuotas.</p>

			<p>El uso de las tarjetas singularizadas precedentemente, se sujetará a lo establecido en estos Términos y Condiciones y en relación con su emisor, y a lo pactado en los respectivos Contratos de Apertura y Reglamento de Uso. En caso de contradicción, predominará lo expresado en ese último instrumento.</p>

			<h2>Tarjetas bancarias de débito</h2>

			<p>El uso de las tarjetas singularizadas precedentemente, se sujetará a lo establecido en estos Términos y Condiciones y en relación con su emisor, y a lo pactado en los respectivos Contratos de Apertura y Reglamento de Uso. En caso de contradicción, predominará lo expresado en ese último instrumento.</p>

			<p>A mayor abundamiento, tratándose de tarjetas bancarias aceptadas en este sitio, los aspectos relativos a ésta, tales como la fecha de emisión, caducidad, cupo, bloqueos, etc., se regirán por el respectivo Contrato de Apertura y Reglamento de Uso, de tal forma que el proveedor no tendrán responsabilidad en cualquiera de los aspectos señalados.</p>

			<p>El proveedor en cada caso podrá indicar determinadas condiciones de compra según el medio de pago que se utilice por el usuario.</p>
		</div>
		<!-- End Sexto bloque -->

		<span class="hor-line"></span>

		<!-- Séptimo bloque -->
		<div class="settings-block">
			<h3>Procedimiento de cambios y devoluciones</h3>
			
			<p>Sin perjuicio de que el proveedor excluye la posibilidad de retracto unilateral del contrato celebrado por medios electrónicos, el consumidor podrá solicitar devoluciones o cambios, dentro del territorio de Chile, las que “podrán” ser aceptadas por el proveedor, a fin de obtener plena satisfacción del cliente. Las partes dejan constancia y aceptan que esta es un derecho que queda al exclusivo arbitrio del proveedor. En todo caso esta petición solo la podrá realizar el consumidor dentro del plazo de 10 días hábiles contados desde la recepción del producto.</p>

			<p>Los requisitos para cualquier cambio o devolución son los siguientes:</p>
			
			<ul class="settings-list">
				<li>Solicitarlo dentro de los 3 meses posteriores a la compra del producto, en caso de un vicio o defecto del producto que lo inhabilite para su uso natural.</li>
				<li>El producto debe estar sin uso, con etiquetas, en perfectas condiciones y debe tener los embalajes originales. Debes entregar todos sus accesorios, manuales y pólizas de garantía, si hubieren sido incluidos en el despacho del mismo.</li>
				<li>Cumplidas las condiciones antes establecidas en el caso de cambio de productos sólo podrá realizarse por el mismo producto o uno de valor igual o superior, en cuyo caso deberá, previo al cambio pagarse la diferencia de precio si es del caso.</li>
				<li>En los eventos antes descritos, los gastos de envíos y retiro del producto en caso de devolución, correrán por cuenta del cliente. Por motivos de seguridad, el cliente no podrá hacer este despacho o retiro por sus propios medios.</li>
			</ul>
		</div>
		<!-- End Séptimo bloque -->

		<span class="hor-line"></span>

		<!-- Octavo bloque -->
		<div class="settings-block">
			<h3>Despacho de los bienes objeto del contrato</h3>
			
			<p>Los bienes adquiridos a través de este sitio web  se sujetarán a las condiciones de despacho y entrega elegidas por el consumidor únicamente dentro de las opciones que para este efecto le oferte el proveedor en el sitio web.</p>

			<p>Toda la información relativa al lugar y nombre del despacho es de exclusiva responsabilidad del consumidor.</p>

			<p>Los plazos elegidos para el despacho y entrega, se cuentan desde que la empresa oferente haya validado la orden de compra y el medio de pago utilizado, y se consideran días hábiles  para estos efectos de lunes a viernes, excluidos los feriados legales.</p>

			<p>El consumidor no podrá utilizar como dirección de despacho casillas de correo tanto en chile como en el extranjero.</p>

			<p>Los despachos de productos de este sitio sólo se realizan dentro del territorio de la República de Chile.</p>
		</div>
		<!-- End Octavo bloque -->
	
	</div>
</div>