

/******************************************/
/************* GENERAL & HOME *************/
/******************************************/


* { margin: 0; padding: 0; list-style: none; text-rendering: optimizeLegibility;}
ul { overflow: hidden;}
ul>li { float: left;}
a { color: inherit; text-decoration: none;}
h1, h2, h3, h4, h5, h6, .lato {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	line-height: normal !important;
}

.lato.lato-lang{
	line-height: 52px !important;
}

.book-me a:hover{
	color: white;
}

.fb-facepile{
	margin-left: 90px;
}

.m-bot-30{
	margin-bottom: 30px !important;
}

.slideme_container button.arrow{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

body {font-family: 'Cardo', serif; line-height: normal !important;}

.flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.wrapper {
	width: 1020px;
	overflow: hidden;
	margin: auto;
}

/* HEADER */

header {
	overflow: hidden;
	width: 100%;
	position: fixed;
	top: 0;
	color: white;
	background: rgba(0,0,0,.7);
	padding-right: 30px;
	z-index: 100;
}

.header-top ul, .bottom-content {
	margin-right:30px;
	margin-left: 40px;
}

.header-top {
	text-align: right;
	width: 100%;
	overflow: hidden;
	height: 30px;
	font-family: 'Cardo', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 11px;
}

.header-top ul {
	float: right;
	line-height: 52px;
}
.header-top ul li:last-child {
	margin-left: 24px;
}

.header-top .fa {
	margin: 0 12px;
}

.header-bottom {
	margin-top: -3px;
	padding-bottom: 27px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	letter-spacing: .1em;
}

.bottom-content>li {
	width: 33.3333%;
}
.logo img {
	width: 182px;
	height: auto;
	display: block;
}

nav {
	text-transform: uppercase;
	width: 420px;
	margin: 25px auto 0;
}

nav li {
	margin: 0 15px;
}

.action-bar {
	margin-top: 22px;
	float: right;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: normal;
}

.action-bar li {
	margin: 0 6px;
}
.action-bar li:last-child {
	margin-right: 0;
}
.ammount {
	margin-left: 6px;
}

/* Slide */

.slider{
  width: 100%;
  height: 517px;
  overflow: hidden;
  position: relative;
}

.callout {
	height: 100%;
	width:	100%;
	position: absolute;
	z-index: 10;
}
.slide{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  float: left;
  position: absolute;
}

.slidecontent {
	background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  height: 100%;
}
.slide1 {
	background-image: asset-url("slider1.jpg");
}
.slide2 {
	background-image: asset-url("slider2.jpg");
}

#slideposition {
	position: relative;
	margin-top: -31px;
	width: auto;
	z-index: 10;
	padding-bottom: 10px;
}

#slideposition ul {
	width: 64px;
	margin: auto;
}

#slideposition .indicator {
	height: 9px;
	width: 9px;
	background: white;
	border-radius: 50%;
	opacity: .4;
	margin: 6px;
	float: left;
}

#slideposition .indicator.active {
	opacity: 1;
}

.callout .text {
	color: #dddddd !important;
	margin: auto;
	text-align: center;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: .1em !important;
}

.callout h2 {
	font-family: 'Gentium Book Basic', serif;
	color: #dddddd !important;
	font-weight: 400;
	font-style: italic;
	font-size: 60px;
	text-transform: none;
	letter-spacing: normal;
	margin-top: 160px;
}

.hor-line {
	background: rgba(255,255,255,.4);
	width: 30px;
	height: 2px;
	display: inline-block;
	margin: 4px 15px;
}

.callout h4 {
	color: #dddddd !important;
	font-size: 16px;
	margin-top: 30px;
}
.callout h6 {
	color: #dddddd !important;
	font-size: 12px;
	margin: 60px auto 0;
	border-bottom: 2px solid rgba(255,255,255,.4);
	width: 80px;
}

/* SHOP NOW - BEAUTY STUDIO */

.shop-studio {
	overflow: hidden;
}

.shop-studio li {
	padding: 7% 0;
	height: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 50%;
}

.shop-studio li:hover {
	opacity: .5;
}

.shop-studio li div {
	margin: auto;
}

.shop-studio li a {
	background-repeat: no-repeat;
	padding: 30px 70px;
	margin: auto;
	background-position: center;
	display: block;
	text-align: center;
}

.shop-studio li:first-child	{
	background-image: asset-url("snoopy.jpg");
}

.shop-studio li:last-child	{
	background-image: asset-url("snoopy2.jpg");
}

.shop-studio li:first-child	a {
	background-image: asset-url("paint1.png");
}

.shop-studio li:last-child a {
	background-image: asset-url("paint2.png");
}

.shop-studio span,
.ideas-inspiration h3 {
	border-bottom: 2px solid #ddd;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: white;
	text-align: center;
	display: inline-block;
	letter-spacing: .1em;
}

/* IDEAS & INSPIRATION */

.ideas-inspiration {
	background-image: asset-url("ideas.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	padding-top: 6.5%;
	padding-bottom: 19%;
	text-align: center;
	color: white;
}

.ideas-inspiration p {
	font-family: 'Cardo', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 24px;
	margin-top: 3.5%;
}

/* FAVORITES */

.favorites {
	text-align: center;
	padding: 0 30px;
	color: #938a83;
}

.prod-showdown li {
	width: 20%;
	margin: 0 10px;
	flex: 1 1 auto;
}

.favorites h2 {
	font-size: 18px;
	letter-spacing: .11em;
	line-height: 17px;
	font-weight: 300;
}

.favorites h6 {
	color: #938a83;	
}

.prod-showdown a.favorites-img {
	border: none;
}

.favorites>p {
	padding: 22px 0;
	max-width: 700px;
	font-size: 18px;
	line-height: 27px;
	font-style: italic;
	margin: auto;
	border-bottom: 1px solid;
}

.prod-showdown {
	margin: 40px 0;
}

.prod-showdown img {
		margin-bottom: 10px;
}

.prod-showdown small {
	color: #df1f39;
	font-style: italic;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .02em;
}

.prod-showdown h6 {
	padding: 14px;
	font-size: 14px;
	letter-spacing: .15em;
}

.prod-showdown i {
	color: #c7beb4;
	padding: 19px 0;
	margin: 0 27px;
	font-size: 16px;
	display: block;
	border-top: 1px solid;
	font-style: italic;
}

.prod-showdown .desc {
	padding: 0 15px;
	line-height: 20px;
	font-weight: 400;
	font-size: 14px;
}

.prod-showdown span {
	display: block;
	font-style: italic;
	font-size: 18px;
	padding: 29px 0;
}

.prod-showdown a {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 11px;
	color: #df1f39;
	border-bottom: 1px solid;
	display: inline-block;
	letter-spacing: .1em;
	margin-bottom: 20px;
}

.prod-showdown a:hover {
	/*font-weight: 600;*/
	border-bottom-width: 2px;
	margin-bottom: 19px;
	color: #bf1134;
}

/* FOOTER */

footer {
	background: #555;
	text-align: center;
	color: white;
	padding-bottom: 70px;
}

.footer-top {
	text-transform: uppercase;
	position: relative;
	padding: 30px 0;
}

.footer-top .flist {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	letter-spacing: .1em;
	width: 630px;
	margin: auto;
}

.footer-top .flist li {
	margin: 0 15px;
}

.footer-top .social-media {
	position: absolute;
	color: #ccc;
	right: 0;
	top: 0;
	margin: 28px;
	font-size: 18px;
}

.footer-top .social-media li {
	margin: 0 8px;
}

footer form {
padding: 5px;
font-family: 'Lato', sans-serif;
font-size: 12px;
letter-spacing: .1em;
width: 500px;
margin: auto;
margin-bottom: 30px;
overflow: hidden;
}

footer form span {
	display: block;
	height: 15px;
	float: left;
	padding: 10px 0;
}

footer input {
	width: 240px;
	padding: 0 15px !important;
	height: 35px;
	background: transparent;
	border: 1px solid white !important;
	margin-left: 15px;
	font-family: 'Cardo', serif !important;
	float: left;
}

footer .button {
	text-align: center;
	display: inline-block;
	font-size: 19px;
	float: left;
}

footer .button a {
	padding: 6px 49px;
	background: #f8c0c7;
	display: block;
}

footer .button:hover a {
	background: #e73e51;
}

footer .copyright {
	font-size: 12px;
	line-height: 18px;
}

a.envelope-link:hover {
	color: white;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color: white;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color: white;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color: white;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color: white;
}



/******************************************/
/************ DA BEAUTY STUDIO ************/
/******************************************/

/* GIRL */

.girl {
	background-image: asset-url("girl.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.girl p {
	font-family: 'Cardo', serif;
	font-size: 29px;
	line-height: 36px;
	width: 640px;
	text-align: center;
	margin: 15% auto 7.7%;
	color: #3a3e42;
}

/* DA BEAUTY STUDIO LIL'*/

.beauty-studio {
	text-align: center;
	padding-bottom: 10px;
}

.beauty-studio h3,
.page-content-bottom h3 {
	color: #86786e;
	font-size: 16px;
	letter-spacing: .15em;
	margin-top: 37px;
}

.beauty-studio h3 small,
.page-content-bottom h3 small {
	color: #c7beb4;
	font-family: 'Cardo', serif;
	font-style: italic;
	font-size: 14px;
	text-transform: none;
	margin-bottom: -15px;
	letter-spacing: normal;
	display: block;
}	

.beauty-studio .hor-line,
.page-content-bottom .hor-line {
	margin: 4px 25px;
	background: #c7beb4;
	opacity: .5;
}

.beauty-showdown .img-container,
.makeup-artist .img-container {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 20px;
	overflow: hidden;	
}

.beauty-showdown img,
.makeup-artist img {
	height: 100%;
	margin: 0;
	display: block;
}

.beauty-showdown h6 {
	color: #df1f39;
	font-weight: 600;
}

.beauty-showdown .divider {
	width: 160px;
	background: #dfdad5;
	height: 1px;
	margin: auto;
}

.beauty-showdown li p {
	margin-top: 22px;
	color: #86786e;
}

.beauty-showdown li a {
	margin-top: 25px;
	margin-bottom: 0;
	color: #c7beb4;
}

.beauty-showdown li:hover a {
	margin-bottom: -1px;
}



/******************************************/
/************* DA SINGLE PAGE *************/
/******************************************/

.page-content-top {
	overflow: hidden;
	margin-top: 95px;
}

.makeup-artist>li,
.mis-cosas>li {
	width: 50%;
	overflow: hidden;
}

.makeup-artist .profile {
	background: #fcfbfa;
	overflow: hidden;
	padding: 40px 50px 60px;
	text-align: center;
}

.makeup-artist h3 {
	color: #e73e51;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 22px;
	letter-spacing: .2em;
	font-weight: 600;
}

.makeup-artist .social-media {
	font-size: 22px;
	margin: 26px auto;
	width: 245px;
}

.makeup-artist .social-media li {
	margin: auto 15px;
	color: #ccc;
}

.makeup-artist .social-media li:hover {
	color: #4c4c4c;
}

.makeup-artist .profile p {
	padding: 20px;
	line-height: 20px;
	font-weight: 400;
	font-size: 14px;
	color: #85786d;
}

a.website {
	font-size: 14px;
	color: #e73e51;
	display: block;
	margin: 32px 0;
}

.book-me {
	font-size: 16px;
	letter-spacing: .15em;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	display: inline-block;
	margin: auto;
	color: white;
}

.book-me a {
	padding: 10px 62px;
	background: #f8c0c7;
	display: block;
}

.book-me:hover a {
	background: #e73e51;
}

.social-feed>ul {
	margin-top: 20px;
	padding-left: 45px;
	padding-right: 40px;
	text-align: left;
}

.social-feed>ul>li {
	padding-bottom: 20px;
	border-bottom: 1px solid #dfdad5;
}

.social-feed>ul>li:last-child {
	border: none;
}

.social-feed .bottom>li:last-child {
	float: none;
	margin-left: 150px;
}

.social-feed .feed-img {
	width: 115px;
	height: 115px;
	overflow: hidden;
}

.social-feed .feed-img img {
	margin-left: -50%;
}

.social-feed h6 {
	text-align: left;
	font-size: 10px;
	line-height: 35px !important;
	color: #c5beb2;
	letter-spacing: .2em;
	font-weight: 400;
}

.social-feed p {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	color: #85786d;
	font-weight: 300;
	margin-right: 50px;
}

.social-feed p i {
	color: #ea3b4d;
	font-style: normal;
}

/* Mis favoritos 2*/

.favs-showdown {
	padding-left: 55px;
	padding-right: 50px;
	color: #86786d;
	text-align: center;
}

.favs-showdown img {
	width: 100%;
	margin: auto;
}

.favs-showdown h6 {
	padding: 14px 0;	
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.favs-showdown .divider {
	width: 88px;
	background: #dfdad5;
	height: 1px;
	margin: auto;
}

.favs-showdown span {
	font-size: 16px;
	padding-top: 14px;
	padding-bottom: 20px;
}
