<% if products.any? %>
    <% numTotal = defined?(num) ? num : Spree::Product.all.length %>
    <% products.take(numTotal).each do |product| %>
      
      <% url = product_url(product, :taxon_id => @taxon.try(:id)) %>

      <li>
        <%= link_to small_image(product, :itemprop => "image"), url, :itemprop => 'url', :class => 'favorites-img' %>
        <h6><%= truncate(product.name, :length => 50) %></h6>
        <div class="divider"></div>
        <span itemprop="price"><%= display_price(product) %></span>
        <%= link_to 'buy me', url %>
      </li>

    <% end %>
<% end %>