<!-- Slider -->
<div class='slider'>
	<div class="callout flexbox">
		<div class="text">
			<h2>Be your professional <br>makeup artist</h2>
			<h4><span class="hor-line"></span>antora cosmetics<span class="hor-line"></span></h4>
			<h6><a href="/products">shop now</a></h6>
		</div>
	</div>
<div class='slide'>
  <div class='slidecontent slide1'>
  </div>
</div>
<div class='slide' >
  <div class='slidecontent slide2'>
  </div>
</div>
<div class='slide' >
  <div class='slidecontent slide2'>
  </div>
</div>
</div>

<!-- Shop Now -->
<div class="shop-studio">
	<ul>
		<li class="flexbox">
			<div>
				<a href="/products"><span>shop now!</span></a>
			</div>
		</li>
		<li class="flexbox">
			<div>
				<a href="/studio"><span>beauty studio</span></a>
			</div>
		</li>
	</ul>
</div>

<!-- Ideas & Inspiration -->
<div class="ideas-inspiration">
	<h3>ideas & inspiration</h3>
	<p>Nuevas propuestas, tendencias y estilos para este 2015</p>
</div>

<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<!-- Nuestros Favoritos -->
<div class="favorites wrapper">
	<h2>Nuestros Favoritos</h2>
	<p>Magna aliquam erat volutpat, ut wisi enim ad minim veniam quis nostrud! Vel illum dolore eu, feugiat nulla facilisis at vero...</p>
	<ul class="prod-showdown flexbox">
		<% cache(cache_key_for_products) do %>
		   	<%= render :partial => 'spree/shared/products', :locals => { :products => @products, :num => 4 } %>
		<% end %>
	</ul>
</div>